BuildReports/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild
/[Ll]ibrary/
/[Ll]ogs/
/[Aa]ssetBundles/
/[Ss]creenshots/
/[Ll]fs/
sysinfo.txt
*.stackdump
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/*.gd
.gd
.DS_Store*
._*
.Trashes
#Icon?
ehthumbs.db
[Tt]humbs.db
*.gd
*.gd.meta
*.orig
#for autotests
/PFS_GDIOv2_Test/PFS_GDIOv2_Test/bin/*
/PFS_GDIOv2_Test/PFS_GDIOv2_Test/obj/*